body {
  background-color: #1f2227;
  color: white;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}
  
#sidebar-left, #sidebar-right{
  width: 25vw;
  padding: 5px;
}

#main {
  width: 50vw;
  padding: 5px;
  margin-top: 20px;
}



.box {
  background-color: #30353d;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
}

pre {
  background-color: grey;
  padding: 5px;
  overflow-x: auto;
  border-radius: 5px;
}

code:not(pre code) {
  background-color: grey;
  padding: 5px;
  border-radius: 3px;
}

h1, h2 {
  text-align: center;
}

iframe {
  background-color: white;
}

p {
  text-indent: 5vw;
}
