body {
  background-color: #1f2227;
  color: white;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}
  
#sidebar-left, #sidebar-right{
  width: 25vw;
  padding: 5px;
}

#main {
  width: 50vw;
  padding: 5px;
  margin-top: 20px;


}

.box {
  background-color: #30353d;
  border: 2px solid white;
  border-radius: 5px;
}


h1 {
  text-align: center;
}


p {
  text-indent: 5vw;
}
